	/*
  	Flaticon icon font
  	aut
  	*/

@font-face {
  font-family: "Flaticon2";
  src: url("./Flaticon2.eot");
  src: url("./Flaticon2.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon2.woff2") format("woff2"),
       url("./Flaticon2.woff") format("woff"),
       url("./Flaticon2.ttf") format("truetype"),
       url("./Flaticon2.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("./Flaticon2.svg#Flaticon") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {
  font-family: Flaticon2;
font-style: normal;
}

.flaticon2-car-of-hatchback-model:before { content: "\f100"; }
.flaticon2-sedan-car-model:before { content: "\f101"; }
.flaticon2-car-city-model:before { content: "\f102"; }
.flaticon2-jeep:before { content: "\f103"; }
.flaticon2-car:before { content: "\f104"; }
.flaticon2-car-suv:before { content: "\f105"; }
.flaticon2-minivan-car:before { content: "\f106"; }
.flaticon2-coupe-car:before { content: "\f107"; }
.flaticon2-sportive-car:before { content: "\f108"; }
.flaticon2-cabrio-car:before { content: "\f109"; }
.flaticon2-pick-up:before { content: "\f10a"; }
.flaticon2-car-black-side-view-pointing-left:before { content: "\f10b"; }
.flaticon2-timing-belt:before { content: "\f10c"; }
.flaticon2-key:before { content: "\f10d"; }
.flaticon2-car-1:before { content: "\f10e"; }
.flaticon2-fix-sign:before { content: "\f10f"; }
.flaticon2-gas:before { content: "\f110"; }
.flaticon2-speedometer:before { content: "\f111"; }
.flaticon2-fuel-station-pump:before { content: "\f112"; }
.flaticon2-gears:before { content: "\f113"; }
.flaticon2-gearshift:before { content: "\f114"; }
.flaticon2-loan:before { content: "\f115"; }
.flaticon2-car-2:before { content: "\f116"; }
.flaticon2-car-3:before { content: "\f117"; }
.flaticon2-calendar:before { content: "\f118"; }
.flaticon2-phone-call:before { content: "\f119"; }
.flaticon2-car-4:before { content: "\f11a"; }
.flaticon2-tyre:before { content: "\f11b"; }
.flaticon2-wrench:before { content: "\f11c"; }
.flaticon2-car-5:before { content: "\f11d"; }
.flaticon2-car-6:before { content: "\f11e"; }
.flaticon2-car-7:before { content: "\f11f"; }
.flaticon2-transport:before { content: "\f120"; }
.flaticon2-car-8:before { content: "\f121"; }
.flaticon2-car-9:before { content: "\f122"; }
.flaticon2-car-repair:before { content: "\f123"; }
